body{
	font-family: "Myriad Pro",Arial,sans-serif;
}

.container{
	width: 100%;
	max-width: 985px;
	margin: 0 auto;
}

section .header{
	background-color: #474747;	
}

section .header-wrap{
	position: relative;
}
section .description{
	color: #c6c6c6;
	font-size: 12px;
	width: 75%;
	box-sizing: border-box;
	line-height: 2;
	padding: 0.6% 15% 0.4% 5%;
}
.main-box{
	background: url(../images/data-center-icon.png) no-repeat center 15%,#2f549b;
	background-size: 30px;
	width: 38%;
	position: absolute;
	top: -12%;
	right: 2%;
	box-sizing: border-box;
	text-align: center;
	padding: 67px 0 6px 0;

	-webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.55);
	-moz-box-shadow:    0px 2px 9px 0px rgba(0, 0, 0, 0.55);
	box-shadow:         0px 2px 9px 0px rgba(0, 0, 0, 0.55);
}
.main-box .counter{
	color: #fff;	
	font-size: 24px;
}
.main-box .title{
	color: #c6c6c6;
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
	width: 100%;
	margin: 0;
}
@media screen and (min-width: 440px) {
	section .description{
		font-size: 13px;
	}
	.main-box{
		padding: 67px 0 14px 0;
	}
}

@media screen and (min-width: 510px) {
	section .description{
		font-size: 16px;
	}
	.main-box{
		padding: 67px 0 46px 0;
	}
}
@media screen and (min-width: 631px) {
	section .description{
		font-size: 16px;
	}
	.main-box{
		padding: 67px 0 10px 0;
	}
}

@media screen and (min-width: 980px) {
	section .description{
		font-size: 22px;
		width: 76.5%;
		line-height: 2;
		padding: 0.6% 25% 0.4% 0;
	}
	.main-box{
		background: url(../images/data-center-icon.png) 
		no-repeat 14% 50%,#2f549b;
		width: 46%;
		position: absolute;
		top: -7%;
		right: -0.5%;
		box-sizing: border-box;
		padding: 2% 0 3.8% 7%;
	}
	.main-box .counter{
		font-size: 85px;
	}
	.main-box .title{
		font-size: 29px;
		font-weight: normal;
		display: inline-block;
		width: 10%;
	}
}